wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    padding:1em 1.5em;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.under{
    text-decoration:underline;
}
.blue{
    color:aqua;
    text-decoration: underline;
}
.text{
    font-size: 1.8em;
}
.container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap:2em;
}
hr{
    color:gray;
    margin:0.3em 0em;
}
.inner{
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 0em 2em;
}
ul,ol{
    list-style-position: inside;
}
a{
    display:block;
}
button{
    display:inline-block;
    width:15%;
    height:20%;
    font-size: 1em;
    margin:1em 2em;
    background-color: white;
    border-radius:20px;
    padding:1em 1em;
}
.blue-btn{
    color:#0047AB;
    border: 1px solid #0047AB;
}
.grey-btn{
    color:#36454F;
    border: 1px solid #36454F;
}

.grey-btn:hover{
    color:white;
    background-color: #36454F;
    cursor: pointer;
}
.blue-btn:hover{
    color:white;
    background-color: #0047AB;
    cursor: pointer;
}
.About{
    padding-right:2em;
}