wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    padding:1em 1.5em;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.under{
    text-decoration:underline;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap:2em;
    margin:1.5em 2em;
}
.card{
    padding:1em;
    box-shadow: 0 0 5px #333;
    border-radius:0.3em;
}
.card:hover{
    transform: scale(1.05);
    /* filter:drop-shadow(0 0 10px #333); */
    transition: 0.3s;
    cursor: pointer;
}
.blue{
    color:#0047AB;
    font-weight: bolder;
    margin-bottom: 10px;
}
.green{
    color:#088F8F;
    font-weight: bolder;
    margin-bottom: 10px;
}